DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000
ENCRYPTION_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RESEND_API_KEY=

META_APP_ID=
META_APP_SECRET=
META_VERIFY_TOKEN=

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STARTER_PLAN_ID=
PRO_PLAN_ID=
BUSINESS_PLAN_ID=

GEMINI_API_KEY=
ANTHROPIC_API_KEY=
GROQ_API_KEY=
OPENAI_API_KEY=
